


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" href="/css/aprender.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-numbers/prism-line-numbers.css">
    
    <title>PORTFOLIO</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <style>
        h1{
          font-family: 'PT Sans', sans-serif;
          display: block;
          font-size: 2em;
          margin-block-start: 0.67em;
          margin-block-end: 0.67em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 32px;
        }       

        .textoBlackMode span{
          color: green; 
          background-color: black; 
          width: 50px; 
          display:inline-flex; 
          justify-content: center
        }

        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 8px 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active,
        .accordion:hover {
            background-color: rgb(159, 167, 163);
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        pre.line-numbers {
          padding-left: 0;
        }
        
        .token{
          white-space: pre-wrap;
        }
      </style>
</head>



<body id="elemBody" class="  modoOscuro modoClaro ">
  <header>
    <%- include ("partials/_heads") %>
  </header>
  <div class="contenedor"> <!--CONTENEDRO PRINCIPA-->
    <div class="contenedorNavBar"> <!--hijo1-->
      <div>
        <p>QUE ES JS?</p>
      </div>
      <div>
        <p>TEMA1</p>
      </div>
      <div>
        <p>TEMA1</p>
      </div>
      <div>
        <p>TEMA1</p>
      </div>
      <div>
        <p>TEMA1</p>
      </div>    
    </div><!--fin hijo1-->

    <div style="background-color: var(--bkColor1Claro); margin-bottom: 65px;"> <!-- hijo2-->
      <div style="width: 80%; margin: 0 auto;">
        <p class="main-texto">Aprende <span class="main-nombre"> JS</span><span class="main-punto" id="main-punto">_</span>
        </p>      
      </div>

      
      <div class="container" style="width: 90%; margin: auto;"> <!-- hijo2 CONTAINER-->
        
        <h5 class="accordion" >QUE ES JS?</h5> <!--- JS -->
        <div class="panel">             
            <p class="contenedorCodigoVisualStudio explicaciones" >JavaScript fue creado para “dar vida a las páginas web”.<br>
              Los programas en este lenguaje se llaman scripts. Se pueden escribir directamente en el HTML de una página web y ejecutarse automáticamente a medida que se carga la página.<br>
              Los scripts se proporcionan y ejecutan como texto plano. No necesitan preparación especial o compilación para correr.</p>          
        </div>


<!--- BLOQUE CODIGO MODELO -->
<h5 class="accordion" >TU PRIMER HOLA MUNDO</h5> <!--- HOLA MUNDO -->
<div class="panel">  <!--- panel -->  
  <div class="contenedorCodigo"><!--- contenedorCodigo -->              
  <pre >
  <code id="primero" class="language-javascript ">   
console.log("Hola Mundo!")   // Hola mundo
  </code>
  </pre>                            
  </div><!--- FIN contenedorCodigo -->
</div> <!--- FIN panel -->
<!---FIN BLOQUE CODIGO MODELO -->


<!--- BLOQUE CODIGO MODELO -->
<h5 class="accordion" >TIPO DE DATOS. ESTRUCTURAS DE DATOS</h5> <!--- TRABAJAR CON STRINGS -->
<div class="panel">  <!--- panel -->            
  <p class="contenedorCodigo explicaciones">Entendiendo TIPOS DE DATOS</p> 
  <div class="contenedorCodigo"><!--- contenedorCodigo -->              
  <pre >
  <code id="primero" class="language-javascript ">   
<%- dataFILEtiposDatos %>
  </code>
  </pre>                            
  </div><!--- FIN contenedorCodigo -->
</div> <!--- FIN panel -->
<!---FIN BLOQUE CODIGO MODELO -->


<!--- BLOQUE CODIGO MODELO -->
<h5 class="accordion" >TRABAJAR CON STRINGS</h5> <!--- TRABAJAR CON STRINGS -->
<div class="panel">  <!--- panel -->            
  <p class="contenedorCodigo explicaciones">Trabajando con STRINGS</p> 
  <div class="contenedorCodigo"><!--- contenedorCodigo -->              
  <pre >
  <code id="primero" class="language-javascript ">   
<%- dataFILEstrings %>
  </code>
  </pre>                            
  </div><!--- FIN contenedorCodigo -->
</div> <!--- FIN panel -->
<!---FIN BLOQUE CODIGO MODELO -->

<!--- BLOQUE CODIGO MODELO -->
<h5 class="accordion" >TRABAJAR CON ARRAYS</h5> <!--- TRABAJAR CON STRINGS -->
<div class="panel">  <!--- panel -->            
  <p class="contenedorCodigo explicaciones">Trabajando con ARRAYS</p> 
  <div class="contenedorCodigo"><!--- contenedorCodigo -->              
  <pre >
  <code id="primero" class="language-javascript ">   
<%- dataFILEarrays %>
  </code>
  </pre>                            
  </div><!--- FIN contenedorCodigo -->
</div> <!--- FIN panel -->
<!---FIN BLOQUE CODIGO MODELO -->

<!--- BLOQUE CODIGO MODELO -->
<h5 class="accordion" >LOOPS</h5> <!--- TRABAJAR CON STRINGS -->
<div class="panel">  <!--- panel -->            
  <p class="contenedorCodigo explicaciones">Trabajando con ARRAYS</p> 
  <div class="contenedorCodigo"><!--- contenedorCodigo -->              
  <pre >
  <code id="primero" class="language-javascript ">   
<%- dataFILEloops %>
  </code>
  </pre>                            
  </div><!--- FIN contenedorCodigo -->
</div> <!--- FIN panel -->
<!---FIN BLOQUE CODIGO MODELO -->

      </div> <!-- FIN hijo2 CONTAINER-->   
    </div> <!-- fin hijo2-->
  </div> <!-- CONTENEDRO PRINCIPA-->

  <footer>
    <div class="containterMain--redes">
      <ul class="redes">
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fab fa-twitter"></i></a>
        <a class="redes-items" href="https://github.com/germandeburzaco"><i class="fab fa-github"></i></a>
        <a class="redes-items" href="https://codepen.io/GermanDaniG"><i class="fab fa-codepen"></i></a>
        <a class="redes-items" href="https://twitter.com/GermanDaniG"><i class="fas fa-envelope"></i></a>

      </ul>
    </div>
    <div class="footer-bajo">

    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
  <script>
    window.addEventListener("load", ()=> {
        
        Prism.highlightAll();         


        var iconoLight = document.getElementsByClassName("fa-moon")
        var iconoMenu = document.getElementById("iconoMenu")
       
    
        let puntos = document.getElementById("main-punto")
        let puntoTitulo = document.getElementById("puntoTitulo")
        const puntoIntermitente = () => {
            puntos.classList.toggle("main-punto-oculto")
            puntoTitulo.classList.toggle("main-punto-oculto")
            setTimeout(puntoIntermitente, 1000)
        }
        puntoIntermitente()

        iconoLight[0].addEventListener('click', (e) => {
        
            var btnModo = document.getElementById('btnModo')
            var elemBody = document.getElementById('elemBody')

            if (btnModo.value == `-Dark Mode-`) {
                iconoMenu.style.color = "#ffffff"
                btnModo.value = "-Light Mode-"
                elemBody.classList.toggle("modoClaro")
                modoClarov2.classList.toggle("modoOscurov2")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            } else {
                btnModo.value = "-Dark Mode-"
                iconoMenu.style.color = "#000000"
                elemBody.classList.toggle("modoClaro")
                modoClarov2.classList.toggle("modoOscurov2")
                iconoLight[0].classList.toggle("fa-sun")
                iconoLight[0].classList.toggle("fa-moon")
            }
        });

        iconoMenu.addEventListener("click", ()=>{
          document.getElementById('sidebar').classList.toggle('active');
        })

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

    }) //FIN WINDOWS LOAD

  </script>
</body>

</html>